{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/assets/(.*)$",
    "^(@/(.*)$)&!(^@/assets/(.*)$)|(^./(.*)$)|^../(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
